<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEAD -->
    <%- include('./partials/head') %>
</head>

<body>
    <body>
        <!-- HEADER -->
        <%- include('./partials/header') %>
        <main>
            <div class="notFound404">
                <img src="images/404notFound.gif" alt="">
                <h2 class="notFound404Alert">Ups, página no encontrada...</h2>
            </div>
        </main>
    </body>
    <!-- FOOTER -->
    <%- include('./partials/footer') %>
</body>
</html>