<!DOCTYPE html> 
<html>
     <!-- HEAD -->
     <%- include('./partials/head') %>
    <body>
        <main>
            <section  style="margin-top: 170px;">
                <h2 style="text-align: center;">Servicio Técnico Oficial de Tecnomundo!</h2><br><br>
                <!-- HEADER -->
                <%- include('./partials/header') %>
                <div class="contact-container">
                    <h5>En caso de reparaciones o garantías, contactarse con los siguientes números:</h5>
                    <hr>
                    <ul style="text-align: center;">
                        <li><p style="font-size: 15px;"><strong>Jorgelina Abdo</strong>: 1234567</p></li>
                        <br>
                        <li><p style="font-size: 15px;"><strong>Pablo Resch</strong>: 7654321</p></li>
                        <br>
                        <li><p style="font-size: 15px;"><strong>Peter Sauma</strong>: 89101112</p></li>
                        <br>
                        <li><p style="font-size: 15px;"><strong>Santiago García</strong>: 12111089</p></li>
                    </ul>
                </div>
                <hr>
                <div>
                    <ul style="display: flex; list-style: none; justify-content: center;">
                        <li style="margin-right: 70px; font-size: 15px;"> <strong>Garantía de 12 meses</strong></li>
                        <li style="margin-left: 70px; font-size: 15px;"><strong>Reparaciones al instante</strong></li>
                    </ul>
                    <hr>
                    <br>
                    <br>
                    <br>
                </div>
            </section>
        </main>
        <!-- FOOTER -->
        <%- include('./partials/footer') %>
    </body>
</html>