<!DOCTYPE html> 
<html>
     <!-- HEAD -->
     <title>TecnoMundo-Servicio técnico</title> 
     <%- include('./partials/head') %>
    <body>
        <main>
           
                
                <!-- HEADER -->
                <%- include('./partials/header') %>
                <section class="servicioTecnico">
               
                    <div class="shopping-cart">
                        <i class="fa-solid fa-wrench"></i>
                        <h1>Servicio Técnico Oficial</h1>
                      </div>
                
                <div class="contact-container">
                    <div class="contact-title"><h5>En caso de reparaciones o garantías, contactarse con los siguientes números:</h5>
                    <div class="contactos">
                    <ul >
                        <li>
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                            <p><strong>Jorgelina Abdo</strong>: +54 9 387 5450299</p>
                            
                        </li>
                        
                        <li>
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                            <p><strong>Pablo Resch</strong>: +54 9 351 5680345</p>
                        </li>
                        
                        <li>
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                            <p ><strong>Peter Sauma</strong>: +54 9 261 4405860</p>
                        </li>
                        
                        <li>
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                            <p ><strong>Santiago García</strong>: +54 9 261 5536709</p>
                        </li>
                    </ul>
                </div>
                    <div class="stEmail">
                        <i class="fa-solid fa-envelope"></i>
                        <h4>sto_tecnomundo@gmail.com</h4>
                    </div>
                </div>
                
                <div id="map"></div>
                </div>
                <div class="garantia">
                    <ul>
                        <li> <strong>Garantía de 12 meses</strong></li>
                        <li><strong>Reparaciones al instante</strong></li>
                    </ul>
                    
                </div>
                
            </section>
            

   
        </main>
        <!-- FOOTER -->
        <%- include('./partials/footer') %>
    <script src="/js/googlemap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMBlbASW5UmsDl70Fz5adUnfNA3zRDwoo&callback=iniciarMap"></script>
    </body>
</html>